            <h1>TinyApp</h1>

            <h5><a href='/urls/new' >Create New TinyURL</a></h5>
            <% if ( user ){ %>
              <%= user.email %>
              <form method="POST" action="/logout">
                <button type="submit" class="btn btn-primary">Logout</button>
              </form>
            <% } else { %>
              <form method="GET" action="/register">
                  <button type="submit">Register</button>
              </form>
              <form method="GET" action="/login">
                  <button type="submit">Login</button>
              </form>
            <% } %>
