 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <% include ./partials/_header %>


<form method="POST" action="/login">
  Email <input type="email" name="email" placeholder="Email">
  Password <input type="password" name="password" placeholder="Password">
  <button type="submit">Log in</button>
</form>