
      <% include ./partials/_header %>



<form method="POST" action="/register">
  Email: <input type="email" name="email" placeholder="email">
  Password: <input type="password" name="password" placeholder="password">
  <button type="submit">Create New User</button>
</form>