<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">




  <header>
      <% include ./partials/_header %>
  </header>

  <ul>
    My URLs
    <% for(let short in urls) { %>
    <li><%= short %> : <a href='#' ><%= urls[short] %></a>
      <form method="POST" action="/urls/<%= short %>/edit">
        <button type="submit" class="btn btn-primary">Edit</button>
      </form>
      <form method="POST" action="/urls/<%= short %>/delete">
        <button type="submit" class="btn btn-primary">Delete</button>
      </form>
      </li>
    <% } %>
  </ul>
</body>
</html>
