<head>

  <title>TinyApp</title>
</head>
<body >
  <header>
      <% include ./partials/_header %>
  </header>

  <ul>
    My URLs
    <% for(let short in urls) { %>
    <li><%= short %> : <a href='#' ><%= urls[short].longURL %></a>
      <form method="POST" action="/urls/<%= short %>/edit">
        <button type="submit" class="btn btn-primary">Edit</button>
      </form>
      <form method="POST" action="/urls/<%= short %>/delete">
        <button type="submit" class="btn btn-primary">Delete</button>
      </form>
      </li>
    <% } %>
  </ul>
</body>

